@import "tailwindcss";

html {
    font-family: var(--font-inter);
}

@theme {
    --color-primary: #2C3E50;
    --color-secondary: #E8E0D5;
    --color-tertiary: #C9714A;
    --color-neutral: #FAFAF8;
    --font-inter: 'Inter', sans-serif;
}

